<app-header></app-header>
<main id="main" class="main-home">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 pad-t-30">
        <div class="col-md-8 baner-content">
          <h1>A Best Online Test Series Platform for Political Scirnce</h1>

          <p class="pad-t-0">Boost your exam preparation with Test Series for NET and Entrance exam.</p>

          <!-- <p class="white-p">100+ Exams Covered. which exam are you preparing for?</p> -->

          <!-- <div class="search-div">
            <input type="text">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
          </div> -->

        </div>


      </div>

    </div>

    
      <!-- <app-list [quizzes]="quizzes" (onSelectQuiz)="onSelectQuiz($event)"></app-list> -->
      <!-- <div class="col-md-3 grid-course" *ngFor="let quiz of quizzes" (click)="onSelectQuiz(quiz)">
        <img src="assets/img/quiz-list/banner-.png" />
        <div class="content">
          <div class="title">{{quiz.title}} </div>
          <div class="author">{{quiz.instructor.name}} </div> -->
          <!-- <div class="stars">
            <span class="rate">4.0</span>
            <span><img src="assets/img/quiz-list/star-red.png"></span>
            <span><img src="assets/img/quiz-list/star-red.png"> </span>
            <span><img src="assets/img/quiz-list/star-red.png"></span>
            <span><img src="assets/img/quiz-list/star-red.png"></span>
            <span><img src="assets/img/quiz-list/star-red.png"></span>
          </div> -->
          <!-- <div class="amount"> <i class="fa fa-inr"></i>{{quiz.amount}} <s> <i class="fa fa-inr"></i>500</s></div> -->

        <!-- </div> -->
        <!-- <div class="inner-content">
          <h5>{{course.instructor.name}} </h5>
          <span>27 Full Chapter</span>
          <span>63 Chapter Test</span>
          <span>76 Previous Papers</span>
        </div> -->

        <!-- <app-button [src]="'assets/img/quiz-list/enroll-icon.png'" [text]="'Enroll Now'"></app-button> -->

      <!-- </div> -->


      <!-- <div class="col-md-3 grid-course" (click)="showProduct()">
        <img src="assets/img/quiz-list/ssc-cgl.png">
        <div class="inner-content">
          <h3>SSC CGL </h3>
          <span>27 Full Chapter</span>
          <span>63 Chapter Test</span>
          <span>76 Previous Papers</span>
        </div>

        <p class="stars"><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span>4.0</span></p>

        <app-button [src]="'assets/img/quiz-list/enroll-icon.png'" [text]="'Enroll Now RS 99'"></app-button>

      </div>


      <div class="col-md-3 grid-course">
        <img src="assets/img/quiz-list/rrb.png">
        <div class="inner-content">
          <h3>RRB Office Assitant </h3>
          <span>27 Full Chapter</span>
          <span>63 Chapter Test</span>
          <span>76 Previous Papers</span>
        </div>

        <p class="stars"><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span>4.0</span></p>

        <button><img src="assets/img/quiz-list/enroll-icon.png">Enroll Now at <b>RS 99</b></button>

      </div>

      <div class="col-md-3 grid-course">
        <img src="assets/img/quiz-list/rrb-ntpc.png">
        <div class="inner-content">
          <h3>RRB NTPC</h3>
          <span>27 Full Chapter</span>
          <span>63 Chapter Test</span>
          <span>76 Previous Papers</span>
        </div>

        <p class="stars"><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span><img src="assets/img/quiz-list/star-red.png"></span><span>4.0</span></p>
        <button><img src="assets/img/quiz-list/enroll-icon.png">Enroll Now at <b>RS 99</b></button>

      </div> -->



    <!-- </div> -->

  </div> <!-- end of container -->
</main>
<app-footer></app-footer>
