// .main-home{
//   background-image: url(../../../assets/img/quiz-list/image-bg-with-grey.png);
//   background-repeat: no-repeat;
//   background-size:cover;
//   padding: 120px 0px;
//   padding-bottom: 60px;
// }

// .baner-content{padding: 0;}
// .baner-content h1{padding: 20px 0px;color: #fff;}
// .baner-content h1 span{color: #c92223;}
// .baner-content p{color: #a5a5a5;padding: 20px; padding-left: 0px;padding-right: 0px;font-size:20px;padding-top: 0;}
// .white-p{color: #fff !important;padding-top: 40px !important;}
// .pad-t-0{padding-top: 0;}

// /** SEARCH*/
// .search-div {border: 1px solid #434242;background-color: #272626;border-radius: 8px;padding: 5px;  width: 100%;}
// .search-div input{background: transparent;border: none; width: 90%;padding: 10px;color: #fff;outline: none;}
// .search-div button{ background-color: #c92223; padding:10px  20px; border: none; border-radius: 5px; width: 9%;vertical-align: top;}
// .search-div button i{color: #fff;}


// .content{padding: 6px;}
// .title{
//   font-size: 1.1rem;
//   font-weight: bold;
//   line-height: 1.2;
//   letter-spacing: -0.02rem;
// }
// .author{
//   font-size: 14px;
//     color: #7d7d7d;
// }
// .amount{    
//   color: #383636;
//     font-size: 16px;
//     font-weight: bold;
//   }
// s{
//       margin-left: 12px;
// color: gray;
// font-weight: 200;
// }

// @media (min-width: 320px)  and (max-width:767px){
//   .courses-list .grid-course{ max-width: 100%; margin: 0; margin-bottom: 20px !important;}
//   .search-div input{ width: 80%;}
//   .search-div button{ width: 18%;}
// }