<app-header></app-header>
<main id="main" class="main-insruction">

<div class="container">
    <div class="user">
        <div id="signup" class="content">
          
            <h3>You have successfully Purchased</h3>
            <div>Payment ID: {{payment_request_id}}</div>
            <p>Please note payment id for future reference.</p>
            <button class="btn btn-primary" (click)="profile()">Go to Collection</button>
            
        </div>
    </div>
</div>
</main>
<app-footer></app-footer>